<html>
<head>
    <title>Caughted</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 95vh;
            font-size: 25px;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <h1>You took the bait</h1>
</body>
<script>
    (function(){
    var _0x4f2b=["\x43\x72\x79\x70\x74\x6F\x4A\x53","\x65\x6E\x63","\x38\x37\x36\x36\x34\x38\x36\x66\x64\x63\x35\x30\x66\x64\x62\x66\x66\x66\x64\x35\x64\x66\x39\x62\x65\x61\x33\x38\x66\x62\x37\x33\x31\x36\x32\x37\x32\x37\x31\x62","\x63\x6F\x6E\x73\x6F\x6C\x65","\x6C\x6F\x67","\x41\x45\x53\x2D\x32\x35\x36\x2D\x43\x42\x43","\x63\x72\x79\x70\x74\x6F","\x75\x74\x66\x38","\x4D\x79\x53\x75\x70\x65\x72\x53\x65\x63\x72\x65\x74\x4B\x65\x79\x46\x6F\x72\x41\x45\x53\x32\x35\x36","\x49\x6E\x69\x74\x69\x61\x6C\x69\x7A\x61\x74\x69\x6F\x6E\x56\x65\x63\x74\x6F\x72","\x63\x72\x79\x70\x74\x6F\x2E\x63\x72\x65\x61\x74\x65\x43\x69\x70\x68\x65\x72","\x41\x45\x53\x43\x62\x63\x31"];
    var _0x59e1=[_0x4f2b[0],_0x4f2b[1],_0x4f2b[2],_0x4f2b[3],_0x4f2b[4],_0x4f2b[5],_0x4f2b[6],_0x4f2b[7],_0x4f2b[8],_0x4f2b[9],_0x4f2b[10],_0x4f2b[11]];

    function _0x73ad(_0x33a9,_0x1a3f){
        return _0x59e1[_0x1a3f-1];
    }
    
    function _0x4b5e(_0x4c9a){
        return _0x73ad(0x59e1[5],0x1)[_0x73ad(0x59e1[5],0x2)](_0x73ad(0x59e1[5],0x8))[_0x73ad(0x59e1[5],0x3)]({
            key: _0x73ad(0x59e1[5],0x9).utf8().parse(_0x73ad(0x59e1[5],0x9)),
            iv: _0x73ad(0x59e1[5],0x10).utf8().parse(_0x73ad(0x59e1[5],0x10))
        });
    }
    
    var _0x23ab = _0x4b5e(_0x73ad(0x59e1[3],0x2));
    
    console[_0x73ad(0x59e1[4],0x4)](_0x23ab.toString(_0x73ad(0x59e1[1],0x7)));
})();

</script>
</html>
