<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTF Platform &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\u0054\u0043\u0054\u007b\u0037\u0068\u0033\u005f\u0046\u0031\u0034\u0067\u005f\u0069\u0073\u005f\u0059\u0030\u0075\u0072\u005f\u0046\u0069\u0072\u0073\u0037\u005f\u0042\u0030\u0075\u006e\u0037\u0079\u007d</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/challenges.css">
    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <!-- <div id="particles-js"></div> -->
    <nav class="navbar navbar-expand-lg navbar-light refined-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TheCyberThesis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" aria-current="page" href="/challenges">Challenges</a>
                    <a class="nav-link" href="/scoreboard">Scoreboard</a>
                    <a class="nav-link" href="/team">Team</a>
                    <a class="nav-link" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <main class="container mt-5" style="display: flex; justify-content: center; align-items: center;height: 70vh;">
        <h1>Cheen Tapak Dam Dam</h1>
    </main>

    
    
    <script src="js/particle-settings.js"></script>
    
        
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
